{% extends 'base.html' %}
{% load static %}

{% block title %}
    Order Summary | Store        
{% endblock title %}

{% block content %}
    <main>
        <div class="container mt-5">
            <h2 class="mt=5 pt-5 text-center">Order Summary</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for order_item in order.items.all %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{order_item.item.title}}</td>
                            <td>{{order_item.item.get_price}}</td>
                            <td>
                                <a href="{% url 'orders:remove-single-item-from-cart' slug=order_item.item.slug %}">
                                    <i class="fas fa-minus mr-2"> </i>
                                </a>
                                    {{order_item.quantity}}
                                <a href="{% url 'orders:add-to-cart' slug=order_item.item.slug %}">
                                    <i class="fas fa-plus ml-2"> </i>
                                </a>
                            </td>
                            <td>{{order_item.get_line_order_item_total}}
                                
                                {% if order_item.item.discount_price %}
                                    <span class="badge badge-primary">Saving ${{order_item.get_amount_saved}} </span>
                                {% endif %}
                                <a class="text-danger" href="{% url 'orders:remove-from-cart' slug=order_item.item.slug %}">
                                    <i class="fas fa-times-circle float-right"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td > your Cart is Empty</td>
                        </tr>
                        <tr>
                            <td colspan="5"> 
                                <a href="/" class="btn btn-warning float-right ml-2"> Contintue Shopping  </a>
                                
                            </td>
                            
                        </tr>
                    {% endfor %}
                    
                    {% if order.coupon %}
                    <tr>
                           
                        <td > </td>
                        <td > </td>
                        <td > </td>
                        <td > Coupon</td>
                        
                        <td colspan="5">-${{order.get_coupon_value}} </td>
                    </tr>
                    {% endif %}
                        
                    
                    {% if order.get_total %}
                    <tr>
                           
                        <td > </td>
                        <td > </td>
                        <td > </td>
                        <td > Total</td>
                        
                        <td colspan="5">{{order.get_total}} </td>
                    </tr>
                    <tr>
                        <td colspan="5"> 
                            <a href="/" class="btn btn-warning float-right ml-2"> Contintue Shopping  </a>
                            <a href="/checkout/" class="btn btn-primary float-right "> Proceed to Checkout  </a>
                        </td>
                        
                    </tr>
                    {% endif %}
                        
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}