<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% include 'base/css.html' %}
    <title>
    
    {% block title %}
        
    {% endblock title %}
    
    
        
    </title>
    {% block extra_head %}
        
    {% endblock extra_head %}
</head>
<body>
    
    {% include 'base/navbar.html' %}
    
    {% include 'base/messages.html' %}

    {% block content %}
        
    {% endblock content %}

    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}

    
    {% block extra_scripts %}
        
    {% endblock extra_scripts %}
        
</body>
</html>